body{
  background-color: #1A1A1A;
}
.dropdown-acciones{
  width: 40vh !important;
  background-color: white;
  border-radius: 5px !important;
}
.dropdown-acciones .react-dropdown-select-input {
  color: black; /* Cambia el color del texto de búsqueda */
}

.dropdown-acciones .react-dropdown-select-dropdown {
  background-color: #f0f0f0; /* Cambia el color de fondo del menú desplegable */
}

.dropdown-acciones .react-dropdown-select-item {
  color: #333; /* Cambia el color del texto de las opciones */
}

.dropdown-acciones .react-dropdown-select-item:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse */
}
